{% extends 'base.html' %}

{% block content %}

<div class="auth-page">

    <div class="auth-overlay">

        <div class="auth-box">

            <h2>Login</h2>

            {% if error %}
              <div class="alert alert-danger">
                {{ error }}
              </div>
                {% endif %}

            <form method="POST">

                {% csrf_token %}

                <label>Username</label>

                <input type="text"
                       name="username"
                       class="form-control"
                       placeholder="Enter Username">

                <label>Password</label>

                <input type="password"
                       name="password"
                       class="form-control">

                <button type="submit"
                        class="auth-btn">
                    Sign In
                </button>

            </form>

            <div class="mt-3">

                <small>
                    New User?
                    <a href="/signup/">
                        Signup Here
                    </a>
                </small>

            </div>

        </div>

    </div>

</div>

{% endblock %}